---
import { Text } from '@components/ui/text/index.astro';
import { getCollection } from 'astro:content';

const films = await getCollection('currentFilms');

const formatShowTime = (date: Date) => {
  const timeChunks = date.toLocaleTimeString().split(':');
  const time = timeChunks.slice(0, 2).join(':');
  const amPmText = date.toLocaleTimeString().split(' ')[1];
  return `${date.toDateString()} @ ${time} ${amPmText}`;
};

const embedLink = (url: string) => {
  // https://www.youtube.com/watch?v=vAtUHeMQ1F8
  return url.replace('/watch?v=', '/embed/');
};
---

<div id="current-timeline" class="grid grid-cols-1 lg:grid-cols-1 py-12 px-6 max-w-2xl lg:max-w-6xl mx-auto">
  <Text size="headline">Current Schedule</Text>
  {
    films.map(({ data: film }) => (
      <div class="pl-4 mb-12">
        <Text size="lg" class="mt-2 lg:mt-4 mb-1" as="h3">
          {film.title} - {film.showTime}
        </Text>
        <Text variant="muted">{film.synopsis}</Text>
        <ul class="flex mt-3 mb-3">
          {(film.tags || []).map((tag) => (
            <li class="text-sm ml-1 mr-1 bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">
              {tag}
            </li>
          ))}
        </ul>

        <div class="flex flex-col">
          <iframe
            class="w-180 h-100 basis max-w-full"
            src={embedLink(film.trailerUrl)}
            src="https://www.youtube.com/embed/Vm6_MDnj3Hg?si=kY4GTA2kl4aL_JoZ"
            title={`${film.title} trailer`}
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
          <a
            class="text-muted-foreground text-sm pt-3"
            href={film.webUrl}
            target="_blank"
            class:list={['hover:text-red-500']}
          >
            Read more
          </a>
        </div>
      </div>
    ))
  }
</div>
